body {
  margin: 0;
  display: flex;
  background: radial-gradient(circle at center, #4a90e2, #314755);
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  font-family: "Courier New", Courier, monospace;
  color: #fff;
}

.container {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 28px;
  border-radius: 7px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
  width: 90%;
  margin: 10px;
  max-width: 450px;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
}

.heading {
  font-size: 28px;
  color: #ffffff;
}

.input-container {
  position: relative;
}

.input {
  height: 53px;
  width: 300px;
  background-color: rgba(255, 255, 255, 0.6);
  border-color: rgba(255, 255, 255, 0.4);
  font-size: 16px;
  padding: 0 42px;
  border-radius: 5px;
}

.loading {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  border: 3px solid rgba(255, 255, 255, 0.6);
  border-top: 3px solid #ffffff;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  display: none;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.meaning-container {
  display: none;
}
